{% extends 'base.html' %}
{% block content %}
<h3>Agregar Cliente</h3>
<form method="POST">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-6 mb-3">
      <label>Nombre</label>
      <input class="form-control" name="nombre" placeholder="Nombre" required>
    </div>
    <div class="col-md-6 mb-3">
      <label>Apellido</label>
      <input class="form-control" name="apellido" placeholder="Apellido" required>
    </div>
  </div>
  <div class="mb-3">
    <label>Email</label>
    <input class="form-control" name="email" type="email" placeholder="correo@ejemplo.com" required>
  </div>
  <div class="mb-3">
    <label>Fecha de Nacimiento</label>
    <input class="form-control" name="fecha_nacimiento" type="date">
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label>País de Residencia</label>
      <input class="form-control" name="pais_residencia" placeholder="País" required>
    </div>
    <div class="col-md-6 mb-3">
      <label>Código Postal</label>
      <input class="form-control" name="codigo_postal" placeholder="C.P.">
    </div>
  </div>
  <div class="mb-3">
    <label>Teléfono</label>
    <input class="form-control" name="telefono" placeholder="+52 555 1234">
  </div>

  <button class="btn btn-primary" type="submit">Agregar Cliente</button>
</form>
{% endblock %}