{% extends 'base.html' %}
{% block content %}
<h3>Lista de Productos Globales</h3>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>ISBO</th>
        <th>Nombre</th>
        <th>Idioma</th>
        <th>Precio USD</th>
        <th>Tipo</th>
        <th>Editorial</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for p in productos %}
      <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.isbo }}</td>
        <td>{{ p.nombre }}</td>
        <td>{{ p.idioma }}</td>
        <td>${{ p.precio_base_usd }}</td>
        <td>{{ p.tipo_producto }}</td>
        <td>{{ p.editorial.nombre_oficial|default:"N/A" }}</td>
        <td>
          <a class="btn btn-sm btn-info" href="{% url 'actualizar_producto' p.id %}">Editar</a>
          <a class="btn btn-sm btn-danger" href="{% url 'borrar_producto' p.id %}">Borrar</a>
        </td>
      </tr>
      {% empty %}
      <tr><td colspan="8">No hay productos registrados.</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}