{% extends 'base.html' %}
{% block content %}
<h3>Lista de Pedidos</h3>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID Pedido</th>
        <th>Cliente</th>
        <th>Fecha</th>
        <th>Total Neto</th>
        <th>Impuesto</th>
        <th>Costo Envío</th>
        <th>Método Pago</th>
        <th>Estado</th>
        <th>Dirección Envío</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for p in pedidos %}
      <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.cliente.apellido }}</td>
        <td>{{ p.fecha_hora|date:"Y-m-d H:i" }}</td>
        <td>${{ p.total_neto }}</td>
        <td>${{ p.impuesto_total }}</td>
        <td>${{ p.costo_envio }}</td>
        <td>{{ p.metodo_pago }}</td>
        <td>{{ p.estado_pedido }}</td>
        <td>{{ p.direccion_envio }}</td>
        <td>
          <a class="btn btn-sm btn-info" href="{% url 'actualizar_pedido' p.id %}">Editar</a>
          <a class="btn btn-sm btn-danger" href="{% url 'borrar_pedido' p.id %}">Borrar</a>
        </td>
      </tr>
      {% empty %}
      <tr><td colspan="10">No hay pedidos registrados.</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}